body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(229,229,229);
}

.add-to-cart-button {
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.add-to-cart-button:hover {
  background-color: rgb(202, 205, 207);
}

.free-shipping {
  width: 50px;
  height: auto;
}

.icon-button {
  align-self: flex-start;
  justify-self: flex-start;
}

.icon-button img {
  width: auto;
  height: 50px;
  margin: 1rem;
}

#root .icon-button {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#root #query-button {
  height: fit-content;
  margin-left: 1rem;
}

#root a {
  width: fit-content;
  height: fit-content;
}

#root h1 {
  justify-self: center;
  align-self: center;
}

.categories {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(117, 158, 101);
  color: white;
}

.categories label {
  margin: 0.5rem;
}

#search-bar {
  width: 100%;
  font-size: rem;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(48, 158, 4);
}

.product p {
  background-color: white;
  width: 97%;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 12px 0 12px 0;
  font-weight: 600;
}

.product img {
  border-radius: 14px;
}

.product > div {
  display: flex;
}

.product > div span {
  background-color: white;
  margin-left: 0.25rem;
  font-size: 0.8rem;
  border-radius: 5px;
  height: fit-content;
  font-weight: 600;
  padding: 0.2rem;
}

.container a {
  text-decoration: none;
  color: rgb(104, 125, 232);
}

.container a:hover {
  color: rgb(54, 71, 156);
}

.container > div {
  display: flex;
}

#search-bar-container {
  display: flex;
  width: 100%;
}

.shopping-cart {
  display: flex;
  justify-content: space-between;
}

.products-in-cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: inherit;
  min-width: 50%;
  max-width: 50%;
}

.product-cart-card {
  display: flex;
  color: white;
  background-color: rgb(48, 158, 4);
  border: 1px solid black;
  align-items: center;
}

.product-cart-card button {
  height: fit-content;
}

.products-in-cart img {
  width: 20%;
  align-self: stretch;
}

.product-details > button {
  margin: 1rem;
  margin-left: 0;
}

.product-details span {
  margin-right: 1rem;
}

.product-details > p {
  font-weight: 600;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.product-specs {
  display: flex;
  justify-content: space-between;
  width: inherit;
  border: 1px solid black;
}

.product-specs img {
  width: 100%;
  border-color:black;
  border-right: 1px;
  border-right-style: solid;
}

.product-specs ul {
  width: 100%;
}

#email-line {
  font-size: 1.3rem;
}

.review-card {
  display: flex;
  width: inherit;
  flex-direction: column;
  font-size: 1.5rem;
  border: 1px solid black;
  margin-top: 1.5rem
}

.review-card > div {
  display: flex;
  width: inherit;
}

.review-card > div p {
  margin-right: 2rem;
}

.star:hover {
  cursor: pointer;
}

.price {
  margin-left: 1rem;
}

.price::before {
  content: 'R$';
}

.product-count {
  background-color: rgb(48, 158, 4);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 30%;
}

.total-price::before {
  content: 'TOTAL: R$';
}

.review-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.review-form * {
  width: fit-content;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
}

.shopping-cart-header button {
  margin: 0.5rem;
}
