:root {
  --pwhite: rgb(229,229,229);
  --opaqueGreen: rgb(117, 158, 101);
  --saturatedGreen: rgb(48, 158, 4);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--pwhite);
}

.add-to-cart-button {
  border: none;
  border-radius: 5px;
  padding: 0.25rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.add-to-cart-button:hover {
  background-color: rgb(202, 205, 207);
}

.free-shipping {
  width: 50px;
  height: auto;
}

#credit-card {
  display: grid;
}

.product-image {
  display: flex;
  background-color: black;
  padding: 0.5rem;
  justify-content: center;
}

.icon-button {
  align-self: flex-start;
  justify-self: flex-start;
  position: relative;
}

#shopping-icon {
  grid-area: shopping;
}

#back-arrow {
  grid-area: back;
}

.icon-button img {
  width: auto;
  height: 50px;
  margin: 1rem;
}

#root .icon-button {
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#root #query-button {
  height: fit-content;
  margin: 1rem 0;
}

#root a {
  width: fit-content;
  height: fit-content;
}

#root h1 {
  justify-self: center;
  align-self: center;
}

.categories {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: var(--opaqueGreen);
  color: white;
}

.categories label {
  margin: 0.5rem;
}

.client-info {
  margin-top: 2rem;
  background-color: green;
  padding: 2rem;
  color: white;
}

.client-info input {
  margin: 0.2rem;
}

#search-bar {
  width: 100%;
  font-size: 1.2rem;
}

#initial-message {
  margin: 1rem;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: var(--saturatedGreen);
}

.product p {
  background-color: white;
  width: 97%;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.25rem;
  border-radius: 12px 0 12px 0;
  font-weight: 600;
}

.product img {
  border-radius: 14px;
}

.product > div {
  display: flex;
}

.product > div span {
  background-color: white;
  margin-left: 0.25rem;
  font-size: 0.8rem;
  border-radius: 5px;
  height: fit-content;
  font-weight: 600;
  padding: 0.2rem;
}

.container a {
  text-decoration: none;
  color: rgb(104, 125, 232);
}

.container a:hover {
  color: rgb(54, 71, 156);
}

.container > div {
  display: flex;
}

#search-bar-container {
  display: flex;
  width: 100%;
}

.shopping-cart {
  display: grid;
  grid-template-areas:
    "back . shopping"
    "details details details";
  align-items: center;
}

.products {
	padding: 1rem;
	background-color: var(--saturatedGreen);
	color: rgb(238, 238, 238);
	font-size: 1.1rem;
	max-width: 500px;
	margin: auto;
}

h2 {
  margin: 1rem;
}

.products img {
  width: 100%;
}

#confirm-purchase-button {
  border: none;
  background-color: black;
  font-size: 1.2rem;
  margin: auto;
  color: white;
  padding: 1.1rem;
  cursor: pointer;
  margin: 1rem;
}

#confirm-purchase-button:hover {
  background-color: rgb(73, 72, 72);
}

.products-in-cart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: inherit;
  min-width: 50%;
  max-width: 50%;
  margin: auto;
}

.product-cart-card {
  display: grid;
  color: white;
  background-color: var(--saturatedGreen);
  border: 1px solid black;
  align-items: center;
  justify-items: center;
}

.product-cart-card button {
  height: fit-content;
}

.products-in-cart img {
  width: 20%;
  align-self: stretch;
}

.product-details > button {
  margin: 1rem;
  margin-left: 0;
}

.product-details span {
  margin-right: 1rem;
}

.product-details > p {
  font-weight: 600;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.product-specs {
  display: flex;
  justify-content: space-between;
  width: inherit;
  border: 1px solid black;
}

.product-specs img {
  width: 100%;
  border-color:black;
  border-right: 1px;
  border-right-style: solid;
}

.product-specs ul li {
  width: fit-content;
}

.product-specs ul {
  background-color: #abdbaf;
  padding: 2rem;
  margin: 0;
}

#email-line {
  font-size: 1.3rem;
}

.review-card {
  display: flex;
  width: inherit;
  flex-direction: column;
  font-size: 1.5rem;
  border: 1px solid black;
  margin-top: 1.5rem;
  color: rgb(228, 228, 228);
  padding: 0.23rem;
  background-color: rgb(7, 73, 7);
  max-width: 100%;
}

.review-card > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  word-wrap: anywhere;
}

.star:hover {
  cursor: pointer;
}

.price::before {
  content: 'R$';
}

.product-count {
  background-color: var(--saturatedGreen);
  color: white;
  font-size: 1rem;
  bottom: 0;
  padding: 0.6rem !important;
  font-weight: 600;
  padding: 1rem;
  border-radius: 30%;
  position: absolute
}

.total-price::before {
  content: 'TOTAL: R$';
}

.review-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.4rem;
}

.review-form * {
  width: fit-content;
}

.review-form button, textarea {
  margin: 1rem 0;
}

::placeholder {
  font-size: 1rem;
}

.shopping-cart-header {
  display: flex;
  justify-content: space-between;
}

.product-details {
  grid-area: details;
  background-color: var(--saturatedGreen);
  padding: 0.5rem;
}

.product-details h1 {
  background-color: #abdbaf;
  padding: 0.2rem;
  border-radius: 5px;
}

.shopping-cart-header button {
  margin: 0.5rem;
}

@media screen and (max-width: 599px) {
  .product-cart-card {
    text-align: center;
    font-size: 1.1rem;
  }

  .categories {
    display: none;
  }

  .product img {
    width: 100%;
  }

  .product {
    padding: 0.5rem;
  }

  .products-in-cart button {
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }

  #initial-message {
    margin: 1rem;
  }

  .product-cart-card img {
    align-self: center;
    width: 50%;
  }

  .product-specs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .review-card > div {
    font-size: 1rem;
  }

  #credit-card {
    grid-template-columns: 1fr 1fr;
  }

  #search-bar,
  #query-button {
    height: 50px !important;
  }

  .client-info input:not(input[type="radio"]) {
    width: 100%;
  }
}
